<!DOCTYPE html>
<html>
<head>
  <title>Attereco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar static: :top, brand: "Attereco", responsive: true do %>
    <% if member_signed_in? %>
      <%= menu_group :pull => :right do %>
        <%= menu_item "Edit profile", edit_member_registration_path %>
        <%= menu_item "Logout", destroy_member_session_path, method: :delete %>
      <% end %>
    <% else %>
      <%= menu_group :pull => :right do %>
        <%= menu_item "Sign up", new_member_registration_path %>
        <%= menu_item "Login", new_member_session_path %>
      <% end %>
    <% end %>
  <% end %>
  
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  <%= yield %>
  
</body>
</html>
